# MongoDB Connection_
MONGO_URI=mongodb_connection_string

# JWT Secret (generate a random strong string)
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production

GROQ_API_KEY=your_groq_key_here


# Server Port
PORT=5000

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000
